<html lang="en">
<head>
  {% block title %} <title> Bio-Seconds </title> {% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
</head>
<body>
  <div class = "login-form">
    {% block content %}

    {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
      {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
      {% else %}
        <p>Please login to see this page.</p>
      {% endif %}
    {% endif %}

    <h1>Login</h1>

    <form method="post" action="{% url 'login' %}" class = "sign-in">
      {% csrf_token %}
      <table>
        <tr>
          <td placeholder="username">{{ form.username }}
          <span></span>
          <label>Username</label>
          </td>
        </tr>
        <tr>
          <td placeholder = "password">{{ form.password }}
          <span></span>
          <label>Password</label>
          </td>
        </tr>
      </table>
      <div><input type="submit" value="login" class = "login-button"></div>
      <div class="signup"><a href="#">Sign up!</a></div>
      <div class="forgor"><a href="{% url 'password_reset' %}">Forgot password?</a></div>
      
    </form>

    

    {% endblock %}
  </div>

</body>
</html>